*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*Top Nav Landing page */
.top_nav{
  background-color: white;
  height: 15vh;
  width: 100%;
  box-shadow: 0px 0px 5px gray;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 2;
}

.navWrapper{
  width: 90%;
  margin: 0px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}


#logo_img{
  width: 150px;

}

.navs_container_topNav a{
  padding: 20px;
  text-decoration: none;
  color: #0F75BC;
}

.navs_container_topNav button {
  padding: 10px 20px;
  margin-left: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 5px gray;
}

#signUp{
  background-color: #EF6D3E;
  color: white;
  border: none;
}

#login{
  background-color: white;
  color: #EF6D3E;
  border: 1px solid #EF6D3E;
}

/* Hero section Landing */
.heroContainer{
  height: 95vh;
  width: 100%;
  background-image: url("./images/bg_landing.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.opaqueContainer{
  background-color: black;
  height: 95vh;
  width: 100%;
  opacity: 0.7;
  display:flex;
  justify-content: center;
  align-items: center;
}

.searchContainer{
  display: flex;
  flex-direction: column;
  width: 50%;
  height: auto;
  align-items: center;
  justify-content: center;
}

.searchContainer h2{
  font-size: 40px;
  color: white;
}
.searchWrapper{
  display: flex;
  width: 100%;
  align-items: center;
}

.searchWrapper input{
  background-color: white;
  border-radius: 50px;
  width: 100%;
  height: 40px;
  color: black;
  padding-left: 20px;
}

#searchIcon{
  width: 30px;
}
.searchButton{
  width: 50px;
  height: 50px;
  background-color: #EF6D3E;
  border-radius: 50px;
  box-shadow: 0px 0px 5px gray;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -40px;
}

/* Content Page Landing */
.contentOuter{
  background-color: #EEF8FF;
}
.contentOuter .contentWrapperLanding{
  width: 90%;
  margin: 0px auto;
  background-color: white;
  padding-bottom: 80px;
}
.serviceTitleWrapper{
  padding-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Services Landing */
#servicesHeader{
 font-weight: 700px;
}

.serviceContainer{
  width: 90%;
  height: auto;
  background-color: white;
  margin: 20px auto 0px auto;
  border-radius: 8px;
  display: flex;
  box-shadow: 0px 0px 5px gray;
}

.contentLeftService, .contentRightService{
  width: 50%; 
  height: auto;
  border-radius: 8px;
  
}

.contentLeftService{
  color: white;
  border-radius: 8px;
  background-image: url("./images/sell_photos.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 20px;
  box-shadow: 0px 0px 3px gray;
}

.serviceTint{
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center; 
  background-color: black;
  opacity: 0.7;
  height: 200px;
  width: 100%;
}

.contentRightService{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contentRightService h3{
  color: #0F75BC;
  margin-bottom: 20px;
}
.contentRightService p{
  margin-right: 20px;
  margin-bottom: 20px;
  
}

.contentRightService button{
  background-color: white;
  color: #EF6D3E;
  border: 1px solid #EF6D3E;
  border-radius: 8px;
  padding: 10px 20px;
  width: 200px;
  bottom: 20px;
}

.swappedContentRightService{
  background-image: url("./images/buy_photos.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 20px;
  box-shadow: 0px 0px 3px gray;
  border-radius: 8px;
  width: 50%;
  color: white;
  width: 50%; 
  height: 200px;
  border-radius: 8px;
}


.swappedContentLeftService{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 50%; 
  height: 200px;
  border-radius: 8px;
}


.swappedContentLeftService h3{
  color: #0F75BC;
  margin-bottom: 20px;
}
.swappedContentLeftService p{
  margin-left: 20px;
  margin-bottom: 20px;
  text-align: right;
}

.swappedContentLeftService button{
  background-color: white;
  color: #EF6D3E;
  border: 1px solid #EF6D3E;
  border-radius: 8px;
  padding: 10px 20px;
  width: 200px;
  bottom: 20px;
}

.serviceTwo{
  background-image: url("./images/photographer.jpg");
}

/* Customer Testimonials Landing */
.testimonialsContainer{
  width: 100%;
  height: auto;
  background-color: #EF6D3E;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.testimonyWrapper{
  width: 90%;
  height: auto;
  margin: 0px auto;
}
.testimonialsContainer .testimonyWrapper h2{
 padding: 20px;
}

.testimonial_content{
  height: 250px;
  width: 300px;
  background-color: white;
  margin-bottom: 20px;
  margin-right: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 5px gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  flex: 0 0 auto;
}

.testimonialImageContainer{
  width: 100px;
  height: 100px;
  border-radius: 60px;
  box-shadow: 0px 0px 3px;
}

.testimonialWrapper{
  display: flex;
  overflow: scroll;
  overflow-y: hidden;
  
}

/* Faqs Landing */
.faqs_wrapper{
  width: 100%;
  background-color: #EEF8FF;
  height: auto;
  padding-top: 40px;
  padding-bottom: 80px;
}

.faqs_wrapper h2{
  text-align: center;
  padding-bottom: 20px;
}
.faq_container{
  width: 90%;
  background-color: white;
  color: black;
  padding: 10px 20px;
  margin: 0px auto;
  box-shadow: 0px 0px 5px gray;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.faqDropDown{
  width: 30px;
}

.faqDropDown img{
  width: 100%;
}

/* Footer */
.footer_wrapper{
  background-color: #0F75BC;
  width: 100%;
  height: auto; 
  padding-top: 40px; 
  padding-bottom: 40px;
}
.footer_container{
  margin: 0px auto;
  width: 90%;
  display: flex;
  color: white;
  padding-top: 40px; 
  padding-bottom: 40px;
  align-items: flex-start;
  justify-content: space-between;
}

.footer_content{
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
}

.footer_item{
  margin-left: 80px;
  display: flex;
  flex-direction: column;
  color: white;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 40px;
}

.footer_item a{
  text-decoration: none;
  margin-top: 20px;
  color: white;  
  display: flex;
  align-items: center;
}

.footer_item a p{
  margin-left: 10px;
}


.social_icons_footer{
  margin-left: 80px;
  margin-top: 80px;
  display: flex;
  flex-direction: row;
}

.social_icons_footer a{
  margin-right: 40px;
  color: white;
}
/* About */
.about_hero_container{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
}

.about_hero_content_wrapper{
  width: 90%;
  height: 100vh;
  margin: 0px auto;
  padding-top: 60px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.about_hero_left, .about_hero_right{
  width: 50%;
  height: auto;
  margin-top: 80px;
}

.about_hero_left{
  background-color: white;
  padding: 8px;
  border-radius: 8px;
  box-shadow: 0px 0px 5px;
}

.about_hero_left img{
  width: 100%;
  border-radius: 8px;
 
}
.about_hero_right{
  color: black;
  margin-left: 20px;
}

.about_hero_right p{
  font-size: 16px;
}
.about_hero_right h1{
  color: #0F75BC;
  margin-bottom: 20px;
}

/* About Content */
.about_content_container{
  width: 100%;
  background-color: #EEF8FF;
  height: auto;
  padding-bottom: 80px;
}

#about_our_team{
  text-align: center;
  padding: 60px 0px 40px 0px;
}

.teamcardImg{
  background-image: none;
}

.teamcard div p{
  margin: 0px;
}


/* FAQs */
.faqs_wrapper_faqs_page{
  padding-top: 20vh;
}

.faqs_wrapper_faqs_page h2{
  text-align: left;
  width: 90%;
  margin: 0px auto;
}

.faq_form_container {
  width: 90%;
  background-color: white;
  margin: 0px auto;
  height: auto;
  padding-bottom: 40px;
  padding-top: 20pxx;
  border-radius: 8px;
  box-shadow: 0px 0px 5px gray;
}
.faq_form_container h2{
  padding-top: 20px;
  padding-bottom: 20px;
}

.faq_form_container div{
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0px auto 10px;
}

.faq_form_container div input{
  padding: 10px;
  border-radius: 8px;
}

.question{
  height: 60px;
}

.faq_form_container button{
  background-color: #0F75BC;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  width: 200px;
  margin-left: 5%;
  margin-top: 10px;
  box-shadow: 0px 0px 5px gray;
}

/* User Sign Up */
.signup_wrapper{
  background-color: #EEF8FF;
  padding-top: 40px;
  padding-bottom: 40px;
  width: 100%;
  height: auto;
}

.user_sign_up_container{
  width: 50%;
  height: auto;
  background-color: white;
  margin: 0px auto;
  box-shadow: 0px 0px 5px gray;
  border-radius: 8px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.signup_text_and_logo{
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin:0px auto 20px;

}

#logo_img_2{
  width: 100px;
}

.signup_label_input{
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0px auto 10px;
}

.signup_label_input input{
  padding: 10px;
  border-radius: 8px;
}

.user_sign_up_container h6{
  margin-left: 5%;
  color: gray;
}

.user_sign_up_container h6 a{
  color: gray;
}

.user_sign_up_container button{
  background-color: #0F75BC;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  width: 200px;
  margin-left: 5%;
  margin-top: 10px;
  box-shadow: 0px 0px 5px gray;
}

/* Find Photographer */



/* Side Nav User */

.sidenav_user_container{
  background-color: #0F75BC;
  color: white;
  width: 20vw;
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 0px 5px gray;
}

.logo_dashboard {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 20px;
}

.sidenav_select{
  margin-top: 40px;
  cursor: pointer;
}

.sidenav_select a{
  color: white;
  text-decoration: none;
}

.side_nav_option{
  padding: 10px 20px;
  background-color: #025087;
  margin-bottom: 10px;
  border-radius: 8px;
}


.find_photographer_wrapper{
  background-color: #EEF8FF;
  width: 80vw;
  height: 100vh;
  margin-left: 20vw;

}

.find_photographer_content_container{
  width: 90%;
  margin: 0px auto;
  height: 100vh;
  background-color: #EEF8FF;
  display: flex;
  flex-direction: column;

}

.logout{
  padding: 10px 20px;
  background-color: #025087;
  margin-bottom: 10px;
  border-radius: 8px;
  width: 55%;
}

.logout p{
  margin: 0px;
}

/* Search Component */
.search_container_user{
  height: 12vh;
  margin-top: 20px;
  width: 100%;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 0px 5px gray;
  display: flex;
  align-items: center;
}

.searchButtonUser{
  background-color: #0F75BC;
}

.search_input_user input{
  width: 50%;
  padding: 0px 20px;
  margin-left: 20px;
}

.user_icon_wrapper{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 50%;
}

.user_icon_wrapper p{
  color: #0F75BC;
  margin-right: 20px;
}

.user_icon_image_container{
  width: 50px;
  height: 50px;
  border-radius: 50px;
  box-shadow: 0px 0px 3px;
  margin-right: 10px;
}


/* Photographer List */

.photographer_list_recyclerview{
  background-color: #EEF8FF;
  height: auto;
  width: 100%;
  border-radius: 8px;
  margin-top: 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.photographer_card_item{
  box-sizing: border-box;
  box-shadow: 0px 0px 5px gray;
  width: 100%;
  height: auto;
  border-radius: 8px;
  height: auto;
  padding: 20px;
  display: flex;
  
}

.user_image_wrapper_card_item{
  width: 100px;
  height: 100px;
  box-shadow: 0px 0px 3px gray;
  border-radius: 8px;
  margin-right: 20px;
}

.user_content_card_item{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0px;
  
}

.user_content_card_item h2{
  margin: 0px;
}
.location_image_wrapper{

  box-shadow: 0px 0px 1px gray;
  margin: 0px;

}

.location_wrapper{
  padding: 0px;
  margin: 0px;
  display: flex;
  align-items: center;
}

.location_wrapper h4{
  color: gray;
  margin: 0px;
  display: flex;
  justify-content: center;
}

.ratings_container{
  width: 200px;
  height: 20px;
  background-color: red;
}


/* User login */
.loginHeroContainer, .opaqueHeroContainer{
  height: 120vh;
}

.opaqueLogin{
  background-color: black;
  width: 100%;
  height: 120vh;
  opacity: 0.8;
}

.login_form{
  background-color: white;
  width: 50%;
  height: auto;
  padding: 20px;
  float: right;
  margin: 40px;
  border-radius: 8px;
  box-shadow: 0px 0px 5px gray;
}

.login_form button{
  background-color: #0F75BC;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  width: 200px;
  margin-left: 5%;
  margin-top: 10px;
  box-shadow: 0px 0px 5px gray;
}

.login_form h6{
  margin-left: 5%;
  color: gray;

}
.login_form h6 a{
  color: gray;
}

.cards_holder_login{
  width: 100%;
  height: auto;
  background-color: #EEF8FF;
  padding: 20px 0px;
}

.cards_holder_login h2{
  text-align: center;
  padding: 20px;
}